@{
    ViewData["Title"] = "Software Engineering Test";
    Layout = "_PublicLayout";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-title"><span class="fw-semi-bold">Welcome</span></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="widget-body">
                <p>Your task is to build a version from the specification &amp; task descriptions provided. </p>
                <p>To assist you in completing this task our “Standard” Development Environment has already been setup, along with a skeleton solution that includes:</p>
                <ul>
                    <li>Build Infrastructure</li>
                    <li>Credentials for Table Storage.</li>
                    <li>Credentials to allow you push your solution into our Build / Deploy Pipeline.</li>
                </ul>
            </div>
        </section>
    </div>
</div>